
a {
  cursor: pointer;
}

html,
body {
  background: #D6D6CE;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* TEXT */

  .title {
    font-family: 'Cabin';
    font-size:large;
    align-self: center;
  }

  .title.bar {
    font-size:medium;
    font-style: normal;
  }

  .text {
    font-family: 'Cabin';
  }

  .text.legend {
    font-size:medium;
  }

  .text.legend.title {
    font-family: 'Cabin SemiBold'; 
  }
  
  .text.caption {
    font-size: smaller;
    font-style: italic;
  }

  .text.axis {
    font-size:smaller;
  }

  .link {
    color: blue;
    font-size: x-small;
  }

  .inspiration {
    font-size: x-small;
  }

#map-holder {
  width: 1000;
  height: 1000;
}
svg rect {
  fill: #2A2C39;   /* map background colour */
}
.neighborhood{
  fill: #d0d0d0;   /* country colour */
  stroke: #2A2C39; /* country border colour */
  stroke-width: 1; /* country border width */
}
/*.neighbo-on{
  fill: #4B5358;    highlight colour for selected country 
}*/
.neighborhoodLabel{
  display: none;   /* hide all country labels by default */
}
.neighborhoodName{
  fill: #FFFAFF;   /* country label text colour */
}
.neighborhoodLabelBg{
  fill: #30BCED;   /* country label background colour */
}
