
a {
  cursor: pointer;
}

html,
body {
  background: #D6D6CE;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#map {
  width: 1000;
  height: 600;
}

.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 80px;          
  height: 14px;         
  padding: 2px;       
  font: 8px sans-serif;    
  background: #fff; 
  border:1px;        
  pointer-events: none;     
}
